@font-face {
  font-family: "Mier A";
  font-weight: normal;
  src: url(../fonts/MierA-Regular.ttf);
}

@font-face {
  font-family: "Mier A";
  font-weight: bold;
  src: url(../fonts/MierB-Bold.ttf);
}

* {
  font-family: "Mier A";
  font-weight: normal;
}

.text-primary {
  color: #1f4d8f;
}

body {
  background-image: linear-gradient(to bottom right, #f7f6f1 1%, #fff6ca 100%);
  width: 100%;
}

.toggle-btn svg {
  stroke: #000;
  transition: 0.2s;
}
.toggle-btn svg g:first-child {
  opacity: 1;
  transition: opacity 0s 0.2s;
}
.toggle-btn svg g:first-child line {
  transition: transform 0.2s 0.2s;
  transform: translateY(0px);
}
.toggle-btn svg g:last-child {
  opacity: 0;
  transition: opacity 0s 0.2s;
}
.toggle-btn svg g:last-child line {
  transition: transform 0.2s;
  transform: rotate(0deg);
  transform-origin: center;
}
.toggle-btn.-menu-open svg g:first-child {
  opacity: 0;
}
.toggle-btn.-menu-open svg g:first-child line {
  transition: transform 0.2s;
}
.toggle-btn.-menu-open svg g:first-child line:first-child {
  transform: translateY(7px);
}
.toggle-btn.-menu-open svg g:first-child line:last-child {
  transform: translateY(-7px);
}
.toggle-btn.-menu-open svg g:last-child {
  opacity: 1;
}
.toggle-btn.-menu-open svg g:last-child line {
  transition: transform 0.2s 0.2s;
}
.toggle-btn.-menu-open svg g:last-child line:first-child {
  transform: rotate(45deg);
}
.toggle-btn.-menu-open svg g:last-child line:last-child {
  transform: rotate(-45deg);
}

.image-wrapper {
  background-color: #ccc;
  display: flex;
  align-items: center;
  text-align: center;
}

.shine {
  position: relative;
  overflow: hidden;
}
.shine::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  content: "";
  display: block;
  height: 100%;
  left: -95%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  width: 60%;
  z-index: 2;
}
.shine:hover::before,
.shine:focus::before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#mobile-nav {
  background-image: linear-gradient(to bottom right, #f7f6f1 1%, #faefb6 100%)
}

/* header,
.project:not(:last-child),
.comment:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.comment {
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.comment p {
  margin: 0;
}

.no-toggle-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-toggle-btn:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.project-list .books-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.project-list .books-container .profile-book {
  position: relative;
  margin-bottom: 1rem;
}

.project-list .books-container toggle-btn {
  position: absolute;
  padding: 0.3rem 0.4rem;
  top: 0.25rem;
  right: 0.25rem;
  cursor: pointer;
}

.book-page .book {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.book-page .book img {
  width: 128px;
  height: 180px;
} */
